<div data-bind="visible: canVisibleCoopBlock">
    <input type="checkbox" name="coopcredit" value="coopcredit"/>
    <span data-bind="text: getFormattedPrice()" class="price" style="font-weight: 600"></span>
    <span data-bind="text: getCoopcreditLabel()"></span>
</div>
