<?php if($this->getPagerHtml()): ?>
    <div class="toolbar bottom custom-pager"><?php echo $this->getPagerHtml(); ?></div>
<?php endif ?>
<?php $locations = $this->getLocationsHistory(); ?>
<?php if($locations && count($locations)): ?>
    <div class="table-wrapper">
        <table class="data table history" id="my-storelocator-table">
            <caption class="table-caption"><?php echo __('Grid Locations'); ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php echo __('ID'); ?></th>
                    <th scope="col" class="col store_name"><?php echo __('Store Name'); ?></th>
                    <th scope="col" class="col created_at"><?php echo __('Created At'); ?></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($locations as $location) { ?>
                <tr>
                    <td><?php echo $location->getId(); ?></td>
                    <td><?php echo $location->getStoreName(); ?></td>
                    <td><?php echo $location->getCreatedAt(); ?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
    <?php if($this->getPagerHtml()): ?>
        <div class="toolbar bottom custom-pager"><?php echo $this->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty">
        <?php echo __('Store locations not available'); ?>
    </div>
<?php endif ?>

