<!-- ko if: isDisplayed() -->

<div id="coopcredit-use" class="payment-method-title" style="background:lightgoldenrodyellow; padding: 10px">
    <div class="coopcredit-use-block field choice">
        <input type="checkbox" name="coopcredit-use-input" 
        data-bind="checked:isSelectCoopCredit"
        id="coopcredit-use-id">
        <label >
            <span data-bind="text: getCoopcreditLabel()"></span>
        </label>
        
    </div>

    <div id="coopfund" data-bind="visible: isSelectCoopCredit()">
        <table class="coopfund-block" style="text-align: center">
            <tr>
                <td><strong>Available Balance</strong></td>
                <td><strong>Amount Applied</strong></td>
                <td></td>
            </tr>
            <tr>
                <td class="availableCoop"><span data-bind="text: getCoopcreditAmount()"></span></td> 
                <td class="CoopApplied"><input type="text" name="coopcredituse" id="coopcredit-input" data-bind="value: coopcredituse" style="width: 100px"/></td>
                <td class="CoopAction">
                    <div class="primary">
                        <button class="action primary applycoop" type="button" data-bind="click:applyCoop" 
                                    title="Apply">
                            <span data-bind="i18n: 'Apply'">Apply</span>
                        </button>
                    </div>
                </td> 
            </tr>
        </table>
        <div class="displayCoopAppliedAmount">
            <strong>
                <label>Co-op Credit Applied : </label>
                <span data-bind="text: coopAppliedAmountDisplay()"></span>
            </strong>
        </div>
    </div>
    
</div>
<!-- /ko -->
