<!-- ko if: isDisplayed() -->
<tr class="totals coopcredit" >
    <th class="mark" colspan="1" scope="row" data-bind="text: getCoopcreditLabel()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getFormattedPrice()"></span>
    </td>
</tr>
<!-- /ko -->
